[run]
source = src/florida_property_scraper
branch = True

omit =
    src/florida_property_scraper/comps/*
    src/florida_property_scraper/pa/comps.py
    src/florida_property_scraper/parcels/store.py
    src/florida_property_scraper/search/*
